<ion-header>
  <app-header>
    <ion-back-button backButton defaultHref="auth"></ion-back-button>
  </app-header>
</ion-header>
<ion-content class="padding-content-0 primary-color-items">
  <ion-grid class="h-100 ion-grid-100">
    <ion-row class="h-100 bgPeople" justify-content-center align-items-center text-center>
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="4">
        <ion-row>
          <ion-col *ngIf="!(getEmailSendStatus$ | async)">
            <form [formGroup]="form">
              <div>
                <ion-item>
                  <ion-label>{{ languageConfig[(getAppLanguage$ | async).Code].inputs.email }}</ion-label>
                  <ion-input type="text" formControlName="Email"></ion-input>
                </ion-item>
                <div *ngIf="mainForm['Email'].invalid && mainForm['Email'].touched" class="invalid-feedback">
                  <div *ngIf="mainForm['Email'].errors.required">
                    {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.required }}</div>
                  <div *ngIf="mainForm['Email'].errors.pattern">
                    {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.format }}</div>
                </div>
              </div>
              <app-alert [alertOptions]="alertOptions"></app-alert>
              <ion-button expand="block" type="submit" [disabled]="!form.valid" (click)="newPasswordRequest()">
                {{ languageConfig[(getAppLanguage$ | async).Code].common.recover }}
              </ion-button>
            </form>
          </ion-col>
          <ion-col *ngIf="(getEmailSendStatus$ | async)">
            <ion-col *ngIf="!(getValidTokenStatus$ | async)">
              <ion-label color="success">{{ languageConfig[(getAppLanguage$ | async).Code].common.tokenEmailSent }}
              </ion-label>
              <form [formGroup]="formToken">
                <div>
                  <ion-item>
                    <ion-label>{{ languageConfig[(getAppLanguage$ | async).Code].common.token }}</ion-label>
                    <ion-input type="text" formControlName="Token"></ion-input>
                  </ion-item>
                  <div *ngIf="tokenForm['Token'].invalid && tokenForm['Token'].touched" class="invalid-feedback">
                    <div *ngIf="tokenForm['Token'].errors.required">
                      {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.required }}</div>
                    <div *ngIf="tokenForm['Token'].errors.pattern">
                      {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.format }}</div>
                  </div>
                </div>
                <app-alert [alertOptions]="alertOptions"></app-alert>
                <ion-button expand="block" type="submit" [disabled]="!formToken.valid" (click)="validateToken()">
                  {{ languageConfig[(getAppLanguage$ | async).Code].common.continue }}
                </ion-button>
              </form>
            </ion-col>
            <ion-col *ngIf="(getValidTokenStatus$ | async)">
              <ion-col *ngIf="!(getConfirmedTokenStatus$ | async)">
                <form [formGroup]="formPassword">
                  <div>
                    <ion-item>
                      <ion-label>{{ languageConfig[(getAppLanguage$ | async).Code].inputs.password }}</ion-label>
                      <ion-input type="password" formControlName="Password"></ion-input>
                    </ion-item>
                    <div *ngIf="passwordForm['Password'].invalid && passwordForm['Password'].touched"
                      class="invalid-feedback">
                      <div *ngIf="passwordForm['Password'].errors.required">
                        {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.required }}</div>
                      <div *ngIf="passwordForm['Password'].errors.pattern">
                        {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.format }}</div>
                    </div>
                  </div>
                  <div>
                    <ion-item>
                      <ion-label>{{ languageConfig[(getAppLanguage$ | async).Code].inputs.passwordConfirm }}</ion-label>
                      <ion-input type="password" formControlName="PasswordConfirm"></ion-input>
                    </ion-item>
                    <div *ngIf="passwordForm['PasswordConfirm'].invalid && passwordForm['PasswordConfirm'].touched"
                      class="invalid-feedback">
                      <div *ngIf="passwordForm['PasswordConfirm'].errors.required">
                        {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.required }}</div>
                      <div *ngIf="passwordForm['PasswordConfirm'].errors.mustMatch">
                        {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.passwordMatch }}</div>
                    </div>
                  </div>
                  <app-alert [alertOptions]="alertOptions"></app-alert>
                  <ion-button expand="block" type="submit" [disabled]="!formPassword.valid" (click)="setNewPassword()">
                    {{ languageConfig[(getAppLanguage$ | async).Code].common.changePassword }}
                  </ion-button>
                </form>
              </ion-col>
              <ion-col *ngIf="(getConfirmedTokenStatus$ | async)">
                <ion-label color="success">{{ languageConfig[(getAppLanguage$ | async).Code].common.passwordChanged }}
                </ion-label>
                <ion-button routerLink="/auth/login" expand="block">
                  {{ languageConfig[(getAppLanguage$ | async).Code].common.continue }}</ion-button>
              </ion-col>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>